.benefits, .first-section, header ul, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.count-section .block-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .benefit-part, .benefits .circle, .first-section .video-img, .first-section .big-btn-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .big-text, .first-section .big-text {
  font: 400 20px "Mulish";
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1120px;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0 0 160px 0;
}
header .logo {
  width: 124px;
  height: 38px;
  background: url(/assets/logo.svg) no-repeat;
}
header ul {
  width: 505px;
}
header ul li {
  list-style: none;
  font: 700 16px "Mulish";
}
header .btn-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 147px;
  height: 50px;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  border-radius: 33px;
  font: 700 16px "Mulish";
  color: #FFFFFF;
}

.first-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  height: 300px;
  margin: 0 0 330px 0;
}
.first-section h1 {
  font: 700 60px "Montserrat";
  color: #001A49;
}
.first-section .big-btn-sign-up {
  width: 206px;
  height: 70px;
  color: white;
  background: linear-gradient(44.11deg, #8FBBE6 15.75%, #3D75BF 84.63%);
  border-radius: 33px;
  font: 700 20px "Mulish";
}
.first-section .video-img {
  width: 590px;
  height: 373px;
  position: absolute;
  right: 0;
  top: 270px;
  background: #001A49;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: 0px 32px 44px #818A8C;
          box-shadow: 0px 32px 44px #818A8C;
}
.first-section .video-img .play {
  width: 70px;
  height: 70px;
  background: url(/assets/Play.png) no-repeat;
}

.count-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
  z-index: 100;
  margin: 0 0 150px 0;
}
.count-section .block-count {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  margin: 50px 0;
}
.count-section .block-count h2 {
  font: 700 40px "Montserrat";
  color: #001A49;
}
.count-section .block-count p {
  font: 400 16px "Mulish";
  color: #4F596A;
  margin: 0;
  padding: 0;
}
.count-section .vertical-line {
  width: 1px;
  min-height: 112px;
  background: #E7EAEB;
}

.benefits {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefits .benefits-header {
  text-align: center;
  font: 700 46px "Montserrat";
  margin: 0 0 10px 0;
  color: #001A49;
}
.benefits .big-text {
  text-align: center;
  margin: 0 0 60px 0;
  color: #4F596A;
}
.benefits .circle {
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0535402);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0535402);
}
.benefits .circle .icon {
  width: 40px;
  height: 33px;
  background: url(/assets/Icon.svg) no-repeat;
}
.benefits .benefit-part {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 172px;
  background: linear-gradient(44.11deg, rgba(153, 197, 242, 0.0588235294), rgba(61, 117, 191, 0.0588235294));
  border-radius: 21px;
  margin: 0 0 30px 0;
}
.benefits .benefit-part .text {
  max-width: 930px;
}
.benefits .benefit-part h1 {
  font: 700 24px "Montserrat";
  color: #001A49;
  margin: 0 0 20px 0;
}
.benefits .benefit-part p {
  font: 400 16px "Mulish";
  color: #4F596A;
}